@import "libs/bootstrap-reboot.min";
@import "base/variables";
@import "base/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;      
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

@import "blocks/footer";