.content{
    padding-top: 63px;
    padding-bottom: 123px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
    &__img{
        margin-right: 30px;
        width: 500px;
    }
    &__title{
        margin-top: 61px;
        color: #575153;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
    }

    &__subtitle{
        margin-top: 30px;
        color: #727272;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
    }

    &__descr{
        margin-top: 18px;
        color: #8e8c8c;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

}