.footer{
    margin-top: 20px;
    height: 640px;
    padding: 65px 0 17px 0;
    background-color: #f8f8f8;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        &-title{
            color: #575153;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
        }
        &-list{
            margin-top: 35px;
            list-style-type: none;
            &-item{
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 30px;
            }
            &-link{
                color: #727272;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 30px;
                &:hover{
                    color: #00c8c8;
                    text-decoration: none;
                }
            }
        }
    }
    &__subwrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 62px;
    }
    &__subitem{
        &:first-child{
            width: 570px;
            height: 200px;
            background-color: #333333;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:last-child{
            width: 570px;
            height: 200px;
            background-color: #00c8c8;
            margin-left: 30px;
        }
    }
    &__text{
        color: #ffffff;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 300;
        line-height: 48px;
        text-transform: uppercase;
    }
    &__span{
        font-family: Montserrat;
        font-weight: 700;
        letter-spacing: 1.8px;
        padding-left: 63px;
    }
    &__social-wrapper{
        display: flex;
        justify-content: center;
        // align-items: center;
    }
    &__social-item{
        margin-top: 83px;
        margin-right: 60px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__social-link{
        color: #ffffff;
        &:hover{
            color: #ffffff;
            text-decoration: none;
        }
    }
    &__footer{
        margin-top: 56px;
        height: 45px;
        background-color: #333333;
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-span{
            color: #999999;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
        }
        &-item{
            margin-top: 14px;
            &:last-child{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-item-design{
            color: #777777;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            margin-right: 37px;
        }
        &-item-dev{
            color: #777777;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}



.fab{
    font-size: 34px;
}
#footer__adress{
    line-height: 20px;
}
#footer__tel{
    margin-top: 20px;
}

