.theBrand{
    position: relative;
    padding-top: 63px;
    padding-bottom: 123px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
    &__img{
        margin-right: 30px;
    }
    &__title, &__secondtitle{
        margin-top: 61px;
        color: #575153;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
    }

    

    &__subtitle, &__secondsubtitle, &__thirdsubtitle{
        margin-top: 30px;
        color: #727272;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
    }

    &__secondtitle, &__secondsubtitle, &__thirdsubtitle{
        margin-top: 30px;
    }

    &__descr, &__seconddescr, &__thirddescr{
        margin-top: 18px;
        color: #8e8c8c;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: normal;
        line-height: normal;
    }

    &__seconddescr{
        width: 570px;
    }

    &__secondwrapper{
        position: absolute;
        top: 300px;
        left: 775px;
        margin-top: 62px;
    }

    &__awards{
        position: absolute;
        top: 955px;
        left: 775px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 570px;
        margin-top: 71px;
    }
    
    &__thirdwrapper{
        margin-top: 62px;
        width: 570px;
    }

}